{% extends "_main.jinja" %}

{% block title %} Transaction {% endblock %}


{% block main %}
        <section class="amount">
            € 11,05
        </section>

        <section class="merchant">
            <h3>
                {{ tenant.name }}
            </h3>
            <p>
                {{ tenant.city }}, {{ tenant.country }}<br>{{ tenant.created }}
            </p>
        </section>

        <section class="ticket">
            <h3>
                Parking Ticket
            </h3>
            <ol>
                <li class="lpn">
                    LPN
                    <span>
                        ZA 123 HK
                    </span>
                </li>
                <li class="epan">
                    EPAN
                    <span>
                        02491012010011033016399610
                    </span>
                </li>
                <li>
                    from
                    <span>
                        06.02.2023 10:13:45
                    </span>
                </li>
                <li>
                    to
                    <span>
                        06.02.2023 11:25:00
                    </span>
                </li>
                <li class="divide">
                </li>
                <li>
                    ID
                    <span>
                        {{ uuid }}
                    </span>
                </li>
                <li>
                    Amount
                    <span>
                        € 11,05
                    </span>
                </li>
                <li>
                    Card
                    <span>
                        Mastercard
                    </span>
                </li>
                <li>
                    PAN
                    <span>
                        567890 **** 1234
                    </span>
                </li>
                <li>
                    Status
                    <span>
                        APPROVED
                    </span>
                </li>
                <a href="{{ url }}" class="qr">
                    <img alt="QR code" src="{{ qr }}">
                </a>
            </ol>
        </section>

        <section class="status approved">
            APPROVED &#x2714; &#x1F44D; 
        </section>

        <section class="status declined">
            DECLINED &#x2718; &#x1F44E; 
        </section>
{% endblock %}