{% extends "_main.jinja" %}

{% block title %} Transaction {% endblock %}


{% block main %}
        <section class="amount">
            {% if cart.pgs_id.payCurrency == "EUR" %}
            €
            {% elif cart.pgs_id.payCurrency == "USD" %}
            $
            {% elif cart.pgs_id.payCurrency == "GBP" %}
            £
            {% endif %}
            {{ cart.getFormattedAmount(cart.pgs_id.payAmount) }}
        </section>

        <section class="merchant">
            <h3>
                {{ tenant.name }}
            </h3>
            <p>
                {{ tenant.city }}, {{ tenant.country }}<br>{{ cart.pgs_id.payTime.strftime("%d.%m.%Y %H:%M") }}
            </p>
        </section>

        {% if cart != None %}
        <section class="ticket">
            <h3>
                Parking Ticket
            </h3>
            <ol>
                <li class="lpn">
                    LPN
                    <span>
                        {{ cart.lpn }}
                    </span>
                </li>
                <li class="epan">
                    EPAN
                    <span>
                        {{ cart.epan }}
                    </span>
                </li>
                <li>
                    from
                    <span>
                        {{ cart.entryTime.strftime("%d.%m.%Y %H:%M:%S") }}
                    </span>
                </li>
                <li>
                    to
                    <span>
                        {{ cart.authorizeTime.strftime("%d.%m.%Y %H:%M:%S") }}
                    </span>
                </li>
                <li class="divide">
                </li>
                <li>
                    Cart
                    <span>
                        {{ cart.pgs_id.payShcId }}
                    </span>
                </li>
                <li>
                    ID
                    <span>
                        {{ cart.pgs_id.payId }}
                    </span>
                </li>
                <li>
                    Date
                    <span>
                        {{ cart.pgs_id.payTime.strftime("%d.%m.%Y %H:%M:%S") }}
                    </span>
                </li>
                <li>
                    Amount
                    <span>
                    {% if cart.pgs_id.payCurrency == "EUR" %}
                        €
                        {% elif cart.pgs_id.payCurrency == "USD" %}
                        $
                        {% elif cart.pgs_id.payCurrency == "GBP" %}
                        £
                    {% endif %}
                    {{ cart.getFormattedAmount(cart.pgs_id.payAmount) }}
                    </span>
                </li>
                {% if cart.pgs_id.payStatus == 0 %}
                    {% if cart.pgs_id.payMediaType != None %}
                    <li>
                        Card
                        <span>
                            {{ cart.pgs_id.payMediaType}}
                        </span>
                    </li>
                    {% endif %}
                    {% if cart.pgs_id.payMediaId != None %}
                    <li>
                        PAN
                        <span>
                            {{ cart.pgs_id.payMediaId}}
                        </span>
                    </li>
                    {% endif %}
                {% else %}
                <li>
                    &nbsp;
                    <span>
                        {{ cart.pgs_id.payDescription }}
                    </span>
                </li>
                {% endif %}
                <li>
                    Status
                    <span>
                        {% if cart.pgs_id.payStatus == 0 %}
                        APPROVED
                        {% else %}
                        DECLINED
                        {% endif %}
                    </span>
                </li>
                <a href="{{ url }}" class="qr">
                    <img alt="QR code" src="{{ qr }}">
                </a>
            </ol>
        </section>
        {% endif %}

        {% if cart.pgs_id.payStatus == 0 %}
        <section class="status approved">
            APPROVED &#x2714; &#x1F44D; 
        </section>
        {% else %}
        <section class="status declined">
            DECLINED &#x2718; &#x1F44E; 
        </section>
        {% endif %}


{% endblock %}