{% extends "_main.jinja" %}

{% block title %} Transaction {% endblock %}


{% block main %}
        <section class="amount">
            € 23,05
        </section>

        <section class="merchant">
            <h3>
                InOut Park
            </h3>
            <p>
                Žilina, Slovakia<br>06.02.2023 11:26
            </p>
        </section>

        <section class="ticket">
            <main>
                <h3>
                    Parking Ticket
                </h3>
                <ol>
                    <li class="lpn">
                        LPN
                        <span>
                            ZA 123 HK
                        </span>
                    </li>
                    <li class="epan">
                        EPAN
                        <span>
                            02491012010011033016399610
                        </span>
                    </li>
                    <li>
                        from
                        <span>
                            06.02.2023 10:13:45
                        </span>
                    </li>
                    <li>
                        to
                        <span>
                            06.02.2023 11:25:00
                        </span>
                    </li>
                    <li class="divide">
                    </li>
                    <li>
                        ID
                        <span>
                            {{ uuid }}
                        </span>
                    </li>
                    <li>
                        Amount
                        <span>
                            € 23,05
                        </span>
                    </li>
                    <li>
                        Card
                        <span>
                            Mastercard
                        </span>
                    </li>
                    <li>
                        PAN
                        <span>
                            567890 **** 1234
                        </span>
                    </li>
                    <li>
                        Status
                        <span>
                            APPROVED
                        </span>
                    </li>
                    <a href="{{ url }}" class="qr">
                        <img src="{{ qr }}" alt="QR code">
                    </a>
                </ol>
            </main>
        </section>

        <section class="status approved">
            &#x2714; &#x1F44D; APPROVED
        </section>

        <section class="status declined">
            &#x2718; &#x1F44E; DECLINED
        </section>
{% endblock %}