{% extends "_main.jinja" %}

{% block title %} index {% endblock %}


{% block main %}
        <section class="logo">
            <img src="{{ url_for('static', filename='img/p.svg') }}" alt="Parking logo" width="100">
        </section>

        <section class="merchant">
            <h3>
                InOut Park
            </h3>
            <p>
                Scheidt&Bachmann Slovensko s.r.o<br>Priemyselná 14, 010 01 Žilina<br>Slovakia
            </p>
        </section>

        <section class="cart">
            <main>
                <h3>
                    Parking Ticket
                </h3>
                <ol>
                    <li class="lpn">
                        LPN
                        <span>
                            ZA 123 HK
                        </span>
                    </li>
                    <li class="epan">
                        EPAN
                        <span>
                            02491012010011033016399610
                        </span>
                    </li>
                    <li>
                        from
                        <span>
                            06.02.2023 10:13:45
                        </span>
                    </li>
                    <li>
                        to
                        <span>
                            06.02.2023 11:25:00
                        </span>
                    </li>
                    <li class="divide"></li>
                </ol>

                <h2>
                    Total
                    <span class="date">
                        € 23,05
                    </span>
                </h2>
            </main>
        </section>

        <section class="pay">
            <h3>
                €
                <span class="amount">
                    23,05
                </span>
            </h3>
            <a href="{{url_for('paid')}}">
                <button>
                    Pay
                </button>
            </a>
        </section>

        <footer>
            You will be redirected to S&B PGS - Payment Gateway Service
        </footer>
{% endblock %}