{% extends "_main.jinja" %}

{% block title %} lpn {% endblock %}


{% block main %}
        <section class="logo">
            <img src="{{ url_for('static', filename='img/p.svg') }}" alt="Parking logo" width="100">
        </section>

        <section class="merchant">
            <h3>
                {{ tenant.name }}
            </h3>
            <p>
                {{ tenant.company }}<br>{{ tenant.street }}, {{ tenant.zip }} {{ tenant.city }}<br>{{ tenant.country }}
            </p>
        </section>

        {% if cart != None %}
        <section class="cart">
            <h3>
                Parking Ticket
            </h3>
            <ol>
                <li class="lpn">
                    LPN
                    <span>
                    {% if lpn != None %}
                        {{ cart.lpn }}
                    {% endif %}
                    </span>
                </li>
                <li class="epan">
                    EPAN
                    <span>
                        {{ cart.epan }}
                    </span>
                </li>
                <li>
                    UUID
                    <span>
                        {{ cart.id }}
                    </span>
                </li>
                <li>
                    from
                    <span>
                        {{ cart.entryTime.strftime("%d.%m.%Y %H:%M:%S") }}
                    </span>
                </li>
                <li>
                    to
                    <span>
                        {{ cart.authorizeTime.strftime("%d.%m.%Y %H:%M:%S") }}
                    </span>
                </li>
                <li class="divide"></li>
            </ol>

            <h2>
                Total
                <span>
                    {% if cart.currency == "EUR" %}
                        €
                        {% elif cart.currency == "USD" %}
                        $
                        {% elif cart.currency == "GBP" %}
                        £
                    {% endif %}
                    {{ cart.getFormattedAmount(cart.amount) }}
                </span>
            </h2>
        </section>

        <section class="pay">
            <h3>
                {% if cart.currency == "EUR" %}
                    €
                    {% elif cart.currency == "USD" %}
                    $
                    {% elif cart.currency == "GBP" %}
                    £
                {% endif %}
                <span class="amount">
                    {{ cart.getFormattedAmount(cart.amount) }}
                </span>
            </h3>
            <a href="{{url_for('viewCartId', uuid = cart.id)}}?lpn=ZA123AZ&epan=02491012010011033016399610&amount=700&currency=EUR&entry=20230226131545&authorize=20230318152535">
                <button>
                    Pay
                </button>
            </a>
        </section>

        <footer>
            You will be redirected to S&B PGS - Payment Gateway Service
        </footer>

        {% else %}
        <section class="cart">
            <h3>
                Oooops !!!
            </h3>
            <ol>
                <li class="lpn">
                    LPN: {% if lpn != None %} {{ lpn }} {% endif %}
                    <span>
                        not found
                    </span>
                </li>
            </ol>
        </section>
        {% endif %}

{% endblock %}