{% extends "_main.jinja" %}

{% block title %} Paid {% endblock %}


{% block main %}
        <section class="amount">
            € 23,05
        </section>

        <section class="merchant">
            <h3>
                InOut Park
            </h3>
            <p>
                Žilina, Slovakia<br>06.02.2023 11:26
            </p>
        </section>

        <section class="ticket">
            <main>
                <h3>
                    Parking Ticket
                </h3>
                <ol>
                    <li class="lpn">
                        LPN
                        <span>
                            ZA 123 HK
                        </span>
                    </li>
                    <li class="epan">
                        EPAN
                        <span>
                            02491012010011033016399610
                        </span>
                    </li>
                    <li>
                        from
                        <span>
                            06.02.2023 10:13:45
                        </span>
                    </li>
                    <li>
                        to
                        <span>
                            06.02.2023 11:25:00
                        </span>
                    </li>
                    <li class="divide">
                    </li>
                    <li>
                        ID
                        <span>
                            a56dfd2f-1216-4d74-b4a0-798e12286469
                        </span>
                    </li>
                    <li>
                        Amount
                        <span>
                            € 23,05
                        </span>
                    </li>
                    <li>
                        Card
                        <span>
                            Mastercard
                        </span>
                    </li>
                    <li>
                        PAN
                        <span>
                            567890 **** 1234
                        </span>
                    </li>
                    <li>
                        Status
                        <span>
                            APPROVED
                        </span>
                    </li>
                    <a href="{{ url_for('static', filename='img/qr.svg') }}" class="qr">
                        <img src="{{ url_for('static', filename='img/qr.svg') }}" alt="QR code" width="300">
                    </a>
                </ol>
            </main>
        </section>

        <section class="status">

        </section>
{% endblock %}