{% extends "_main.jinja" %}

{% block title %} pay {% endblock %}


{% block main %}
        {% if cart != None %}
        <section class="amount">
            {% if cart.currency == "EUR" %}
            €
            {% elif cart.currency == "USD" %}
            $
            {% elif cart.currency == "GBP" %}
            £
            {% endif %}
            {{ cart.getFormattedAmount(cart.amount) }}
        </section>

        <section class="uuid">
            Email for Receipt
            <form class="uuid" action="{{ url_for('viewLpn') }}" method="POST">
                <input type="email" placeholder="email" name="email" id=email/>
            </form>
        </section>

        <section class="method">
            <h3>
                Choose Payment Method(s)
            </h3>
            <ol>
            {% for id in range(numMethods) %}
                <li>
                    <a href="{{trx.trx_urls[id]}}">
                        <img src={{trx.trx_imageUrls[id]}}  height="58" alt="{{ trx.trx_methods[id] }}"/>
                    </a>
                </li>
            {% endfor %}
            </ol>
        </section>

        <!-- <section class="pay">
            <a href="{{url_for('viewCartId', uuid = cart.id)}}">
                <button>
                    Reload
                </button>
            </a>
        </section> -->

        <footer>
            You will be redirected to S&B PGS - Payment Gateway Service.
        </footer>

        {% else %}
        <section class="cart">
            <h3>
                Oooops !!!
            </h3>
            <ol>
                <li class="lpn">
                    LPN: {% if lpn != None %} {{ lpn }} {% endif %}
                    <span>
                        not found
                    </span>
                </li>
            </ol>
        </section>
        {% endif %}

{% endblock %}